footer {
    padding-top:150px;
    padding-bottom:60px;
    text-align: center;
    font-size: 30px;
    color:black;
    background:#1a1a1a;
}

.icon-twitter:hover, .icon-facebook:hover, .icon-instagram:hover{
    color:#80ff80;
}

.icon-twitter, .icon-facebook, .icon-instagram{
    color:#a6a6a6;
}

.icon-twitter a:visited, .icon-facebook  a:visited, .icon-instagram  a:visited{
    color:#a6a6a6;
}